In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("/Users/rev.dr.sylviablessings/mufasa_project/data_collection/character_dialogue.csv")
data.head()

  Character                                           Dialogue
0    Mufasa                                      The Lion King
1    Mufasa                                      The Lion King
2      Lebo  M  ♪  'Xesha lifikile wemampondo.  Awu 'xesha ...
3      Lebo  M  ♪  'Xesha lifikile wemampondo.  Awu 'xesha ...
4       Cut  to a herd of giraffes. They begin to walk acro...

In [3]:
## Drop Duplicates
data.drop_duplicates(inplace=True)

In [4]:
data.head()

  Character                                           Dialogue
0    Mufasa                                      The Lion King
2      Lebo  M  ♪  'Xesha lifikile wemampondo.  Awu 'xesha ...
4       Cut  to a herd of giraffes. They begin to walk acro...
6  Giraffes                                              *low*
8      Lebo  M  ♪  'Xesha lifikile wemampondo. Awu 'xesha l...

#### Clean Dialogue Text

In [5]:
import nltk
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/rev.dr.sylviablessings/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rev.dr.sylviablessings/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
def clean_dialogue(text):
    # Tokenize the text
    words = word_tokenize(text.lower())

    # Remove punctuation and stopwords
    cleaned = [
        word for word in words
        if word not in string.punctuation and word not in stopwords.words('english')
    ]

    return ' '.join(cleaned)

In [9]:
import re

def clean_text(text):
    # Remove single quotes and symbols like ♪ and other non-alphanumeric characters except spaces
    cleaned = re.sub(r"[^\w\s]", "", text)
    return cleaned

# Example usage
dialogue = "♪ 'xesha lifikile wemampondo awu 'xesha lifiki..."
cleaned_dialogue = clean_text(dialogue)
print(cleaned_dialogue)

 xesha lifikile wemampondo awu xesha lifiki

In [10]:
# make dialogue lower case
data['Dialogue'] = data['Dialogue'].apply(clean_text)

In [13]:
data.head()

  Character                                           Dialogue
0    Mufasa                                          lion king
2      Lebo   xesha lifikile wemampondo awu xesha lifikile ...
4       Cut        herd giraffes begin walk across pride lands
6  Giraffes                                                low
8      Lebo      xesha lifikile wemampondo awu xesha lifikile

#### Create Word Cloud

In [17]:
from wordcloud import WordCloud

In [24]:
filtered_data = data[data['Character'].isin(['Mufasa', 'Scar'])].copy()

In [25]:
charater_texts = filtered_data.groupby('Character')['Dialogue'].apply(lambda x: ' '.join(x)).to_dict()

In [ ]:
plt.figure(figsize=(15, 5))

for i, (character, text) in enumerate(character_texts.items(), 1):
    plt.subplot(1, len(character_texts), i)
    wc = WordCloud(width=400, height=300, background_color='white').generate(text)
    plt.imshow(wc, interpolation='bilinear')
    plt.title(character)
    plt.axis("off")

plt.tight_layout()
plt.show()

NameError: name 'character_texts' is not defined